
<h4>EmployeeDetails</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>Employee name</th>
            <th>Employee location</th>
            <th>Salary</th>
            <th>
                <button (click)='filterInactive()'>Show {{showActive ? 'inactive': 'all'}} </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of inactiveEmp" [ngStyle]="{background: employee.isActive ? 'white': 'red'}" [ngClass]="{'text-success':employee.location === 'Pune'}">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.location}}</td>
            <td>{{employee.salary | number:'1.1-3'}}</td>
            <td>{{employee.isActive}}</td>
        </tr>
    </tbody>
</table>

