<div class="just-padding">

    <div class="list-group list-group-root well">
      
      <a class="list-group-item">CEO</a>
      <a class="list-group-item">Director of Software Engineering</a>
      <a class="list-group-item">Head of Software Engineering</a>
      <div class="list-group">
                <a class="list-group-item">Tech Lead</a>
                <div class="list-group">
                    <a class="list-group-item">ASE</a>
                    <a class="list-group-item">SE</a>
                    <a class="list-group-item">SSE</a>
                </div>
      </div>
    </div>