<br>
<h4>Employee list </h4>
<br>
<div class="table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Employee Id</th>
          <th>Employee name</th>
          <th>Project Id</th>
          <th>Angular Proficiency</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.projectId }}</td>
          <td>
            <a href="#" (click)="GetAngularProficiency(employee.angularProficiency)">
              <app-rating [rating]="employee.angularProficiency"></app-rating>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<app-employee-create (newEmployeeRecord)="CreateEmployee($event)"></app-employee-create>

<app-stored-records [employees]="newEmployees"></app-stored-records>
