<div class="table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Employee name</th>
          <th>Location</th>
          <th>Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.name }}</td>
          <td>{{ employee.location }}</td>
          <td>{{ employee.department }}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm"
                    [routerLink]="['/employees', employee.id]">Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
